html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto; }

.light-text {
  color: white !important; }

.dark-text {
  color: #2d3741 !important; }

.white {
  color: white !important; }

.wrapper {
  height: 100%;
  max-width: 1100px;
  margin: 0 auto; }

.content-wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2em; }
  @media only screen and (max-width: 768px), only screen and (max-device-width: 450px) {
    .content-wrapper {
      width: 90%; } }

.col-md-6, .col-sm-6, .col-md-4, .col-sm-4, .col-md-3, .col-sm-3 {
  padding: 0 !important; }

h1, h2, h3, h4, h5 {
  font-family: "Cinzel", serif;
  font-weight: 700;
  color: #2d3741 !important;
  letter-spacing: 1px; }

a, span, li, p {
  font-family: "Cinzel", serif;
  color: #2d3741 !important;
  letter-spacing: 1px;
  background: none; }

.clearfix {
  display: table;
  content: '';
  clear: both; }

*, *:before, *:after {
  box-sizing: border-box; }

.info-bar {
  width: 100%;
  height: 30px;
  background-color: #4E5055;
  position: relative; }
  .info-bar .wrapper {
    max-width: 95% !important; }
    @media (max-width: 905px), screen only and (max-device-width: 450px) {
      .info-bar .wrapper {
        padding: 0 2em; } }
  .info-bar .insta-icon {
    height: 20px;
    width: 20px;
    float: right;
    display: inline-block;
    background-image: url("../img/IG-icon-light.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 4px 10px;
    padding: 0; }

.info-bar-search-wrapper {
  position: absolute;
  right: 0;
  margin-right: 2em; }

#main-nav {
  border: none;
  border-bottom: 1px solid #6d849a;
  border-radius: 0px;
  margin: 0 auto;
  padding: 0;
  height: 130px; }

.container-fluid {
  height: auto !important;
  margin: 0 auto;
  padding: 0 !important; }

#nav-header {
  margin: 0 auto;
  padding: 0;
  height: 129px;
  width: 100%; }

.mobile-cart {
  display: none;
  margin: auto 0;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2em;
  background-image: url("../img/cart-ico.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

#logo-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1.5em;
  margin: auto;
  padding-right: 0;
  height: 83px;
  width: 200px;
  text-align: center; }
  #logo-box img {
    height: 83px;
    width: 200px;
    z-index: -1; }

#nav-tog {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.5em;
  padding: 0 !important;
  height: 30px;
  width: 30px;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: none;
  background: transparent;
  background-image: url("../img/nav-burger.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 320px) {
    #nav-tog {
      top: auto;
      bottom: 20px;
      margin: 0 0; } }

#myNavbar {
  margin: 0;
  position: relative;
  z-index: 999;
  background-color: white;
  border-bottom: 1px solid #2d3741; }

.menu-opt {
  width: 100%; }
  .menu-opt a {
    width: 50%;
    margin: 0; }

.sub-menu {
  height: 25px;
  width: 25px;
  border: none !important;
  background: white !important;
  position: absolute;
  top: 12.5px;
  left: 40%; }
  @media only screen and (max-width: 320px) {
    .sub-menu {
      left: 60%; } }

.sub-menu:focus {
  outline: none; }

.sub-collapse1, .sub-collapse2 {
  height: auto;
  width: 250px !important;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  list-style-position: outside;
  background-color: white;
  text-align: left;
  box-sizing: border-box;
  padding: 0 !important; }

.sub-opt {
  left: 0;
  padding-left: 15px !important;
  margin: 10px 0;
  height: 30px; }

.navbar-nav .active {
  color: #2d3741 !important; }

.navbar-nav > li > a {
  color: #42515f !important;
  padding: 15px !important; }

.navbar-nav > li > a:hover {
  color: #2d3741 !important;
  background: transparent !important; }

.sub-opt > a {
  color: #2d3741 !important; }

.sub-opt > a:hover {
  color: #2d3741 !important; }

.navbar-nav > li > a {
  color: #576a7d;
  font-family: "Cinzel", serif;
  letter-spacing: 1px;
  font-size: 14pt;
  font-weight: 400; }
  @media only screen and (max-width: 320px) {
    .navbar-nav > li > a {
      font-size: 10pt; } }

@media only screen and (min-width: 768px) {
  #main-nav {
    height: 170px; }

  #nav-header {
    height: 169px; }

  #nav-tog {
    display: none; }

  .mobile-cart {
    display: none; }

  #logo-box {
    top: -10;
    right: 0;
    left: 0; }
    #logo-box img {
      height: 104px;
      width: 250px; }

  #myNavbar {
    height: auto !important;
    width: 100% !important;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex !important;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    background-color: white;
    border: none; }

  .sub-collapse1, .sub-collapse2 {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    margin: 0;
    background-color: white;
    text-align: left;
    z-index: 999;
    box-sizing: border-box;
    border-left: 1px solid #2d3741;
    border-bottom: 1px solid #2d3741;
    border-right: 1px solid #2d3741;
    border-top: none; }

  .dropdownhov1:hover .sub-collapse1 {
    display: block; }

  .dropdownhov2:hover .sub-collapse2 {
    display: block; }

  .dropdownhov1:hover {
    background-color: transparent; }

  .menu-opt {
    width: auto;
    height: auto; }

  .menu-opt > a {
    width: auto;
    height: auto; }

  .sub-menu {
    display: none; }

  .sub-opt {
    padding-left: 0px;
    height: auto; } }
@media screen and (min-width: 905px) {
  #wrap {
    height: auto;
    max-width: 1100px; }

  #main-nav {
    height: 130px; }

  #nav-header {
    height: 129px; }

  #logo-box {
    right: auto;
    left: 2em;
    margin: auto; }
    #logo-box img {
      height: 104px;
      width: 250px; }

  #myNavbar {
    height: 100% !important;
    width: auto !important;
    right: 0;
    margin: auto;
    align-items: center;
    justify-content: flex-end; }

  .navbar-nav {
    height: 100% !important; }

  .navbar-nav li {
    height: 100% !important; }

  .menu-opt {
    display: flex !important;
    align-items: center; } }
@media screen and (min-width: 1235px) {
  #myNavbar li > a {
    color: #576a7d;
    font-family: "Cinzel", serif;
    letter-spacing: 1px;
    font-size: 17pt;
    font-weight: 400;
    font-weight: 400; }

  #logo-box {
    right: auto;
    left: 6em; }

  #myNavbar {
    left: auto;
    right: 6em; } }
.header-fixed.smaller {
  height: 100px; }

#logo-box.smaller {
  height: 50px;
  width: 125px;
  top: 0;
  margin: 0;
  overflow: hidden; }

#myNavbar.smaller {
  height: 100px !important;
  top: 0;
  margin: 0; }

#nav-header.smaller {
  height: 100px !important;
  top: 0;
  margin: 0; }

.main-content {
  text-align: center; }

#homeCarousel {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  height: 100%; }
  #homeCarousel .carousel-inner {
    position: relative;
    height: 100%; }
  #homeCarousel .item {
    max-height: 550px; }
  #homeCarousel .homeSlide {
    height: 100%;
    width: 100%; }
  #homeCarousel .homeSlide.bottom {
    background-position: bottom !important;
    vertical-align: bottom !important; }
  #homeCarousel img.homeSlide.top {
    background-position: top;
    vertical-align: top; }
  #homeCarousel .carousel-control {
    text-shadow: none; }
  #homeCarousel .carousel-control.left, #homeCarousel .carousel-control.right {
    background-image: none; }
    #homeCarousel .carousel-control.left span, #homeCarousel .carousel-control.right span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -25%); }
  #homeCarousel .carousel-control:hover {
    text-shadow: none; }
  #homeCarousel .content-text {
    display: none;
    position: absolute;
    margin: 0 auto;
    font-family: "Cinzel", serif;
    font-size: 14pt;
    font-weight: 400 !important;
    padding: .7em;
    background-color: rgba(255, 255, 255, 0.7); }
    #homeCarousel .content-text p {
      color: #2d3741;
      height: auto;
      margin: 0 auto;
      text-align: center;
      font-weight: 400; }
  #homeCarousel .content-text.top {
    top: 25%;
    transform: translate(-50%, -50%); }
  #homeCarousel .content-text.right {
    left: 70%;
    transform: translate(-50%, -50%); }

.home-display {
  height: auto; }
  .home-display .home-image {
    height: 400px;
    margin: 12px;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em;
    padding-top: 0; }

.home-image.bottom {
  background-position: bottom;
  vertical-align: bottom; }

.home-image.top {
  background-position: top;
  vertical-align: top; }

.home-image.right {
  background-position-x: 85%; }

.home-image.righter {
  background-position-x: 100%; }

.home-image.center {
  background-position-x: center; }

@media only screen and (min-width: 768px) {
  #homeCarousel {
    max-height: 550px; }
    #homeCarousel .content-text {
      display: block; }

  .home-display {
    padding-top: 0; }
    .home-display .home-image {
      height: 600px;
      vertical-align: middle;
      background-size: cover;
      background-repeat: no-repeat; } }
@media only screen and (min-width: 1235px) {
  #homeCarousel {
    max-height: 700px; }
    #homeCarousel .content-text {
      line-height: 1.3em;
      font-size: 18pt;
      max-width: 800px; }
      #homeCarousel .content-text p {
        height: auto;
        margin: 0 auto;
        text-align: right;
        font-weight: 400; } }
.footer {
  background-color: #f8f6f8;
  position: relative;
  bottom: 0vh; }
  .footer .footer-support, .footer .footer-about {
    padding: 35px !important; }
  .footer p:first-of-type {
    padding-bottom: 6px;
    border-bottom: 1px solid black; }
  .footer ul {
    list-style: none;
    padding: 0; }
    .footer ul li {
      margin-top: 12px; }
      .footer ul li a {
        color: #576a7d;
        font-family: "Cinzel", serif;
        letter-spacing: 1px;
        font-size: 9pt;
        font-weight: 400; }
  .footer a {
    color: #576a7d;
    font-family: "Cinzel", serif;
    letter-spacing: 1px;
    font-size: 12pt;
    font-weight: 400; }
  .footer .copyright {
    width: 100%;
    margin-top: 10em;
    text-align: center;
    font-size: 9pt; }
  .footer #insta-icon {
    height: 35px;
    width: 35px;
    margin: 1em auto 6em; }
    .footer #insta-icon a {
      display: block;
      height: 100%;
      width: 100%;
      background-image: url("../img/IG-icon.png");
      background-position: center;
      background-size: cover; }
    .footer #insta-icon a:hover {
      text-decoration: none; }

.products-header .content-wrapper {
  border-bottom: 1px solid #2d3741;
  padding-top: 2em;
  padding-bottom: .2em; }
.products-header h2 {
  font-family: "Cinzel", serif;
  font-size: 26pt;
  width: 100%;
  text-align: center;
  margin-bottom: 2em; }
.products-header .row {
  width: 100%;
  margin: 0 !important; }
.products-header .sort {
  text-align: right;
  width: 240px; }
  .products-header .sort label {
    font-family: "Cinzel", serif;
    font-size: 8pt; }

#sortBy, #sortLoc, #search-input {
  width: 170px;
  font-size: 9pt;
  border: 1px solid #2d3741;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-size: 10px;
  background-image: url("../img/sort-icon.svg");
  background-position: right 10px center;
  background-color: transparent;
  background-repeat: no-repeat;
  padding: 5px;
  margin-bottom: .5em;
  height: 30px; }

#sortBy:focus {
  outline: 0; }

.search {
  height: 61px;
  margin-bottom: .5em;
  padding: 5px;
  font-family: "Cinzel", serif;
  position: relative;
  text-align: right; }
  .search #search-input {
    background-image: none;
    position: absolute;
    bottom: 0px;
    right: 0; }
  .search #search-btn {
    border: none;
    float: right;
    background-image: url("../img/search-icon.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    margin: 4px 10px;
    padding: 0 8px;
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 8px;
    right: -4px; }

.collection-info {
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px; }
  .collection-info a {
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    font-size: 8pt;
    display: inline-block;
    text-decoration: none;
    color: #2d3741; }
  .collection-info a:hover {
    text-decoration: none; }
  .collection-info span {
    font-size: 10pt; }

.product-row {
  height: auto;
  min-height: 400px;
  margin: 0 auto !important; }

.product-card {
  text-align: center;
  height: 400px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2em !important;
  padding-top: 25px !important;
  max-width: 100%; }
  .product-card img {
    max-width: 335px;
    max-height: 80%;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    flex-shrink: 0;
    background-position: center;
    margin-bottom: 10px;
    margin: auto 0; }
  .product-card .product-title {
    width: 100%;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }

.product-info {
  display: none;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 100%;
  width: 100%;
  position: absolute;
  top: auto;
  right: 0;
  bottom: auto;
  left: 0;
  text-transform: uppercase;
  background-color: white; }

.product-card:hover {
  text-decoration: none; }

.product-pagination {
  border-top: 1px solid #2d3741;
  margin-top: 3em;
  margin-bottom: 2em;
  padding-top: 2em;
  text-align: center; }

.pagination-buttons button {
  border: 1px solid #2d3741;
  background-color: transparent;
  height: 25px;
  width: 25px;
  text-align: center;
  padding: 2px 0px;
  font-size: 8pt; }
.pagination-buttons button:first-child, .pagination-buttons button:last-child {
  width: 30px; }

.view-all {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
  font-size: 14pt; }

.view-all:hover {
  cursor: pointer; }

@media only screen and (min-width: 768px) {
  .pagination-buttons button {
    border: 1px solid #2d3741;
    background-color: transparent;
    height: 40px;
    width: 50px; }
  .pagination-buttons button:first-child, .pagination-buttons button:last-child {
    width: 50px; } }
.product-detail-content .product-breadcrumb {
  padding: 15px 0;
  font-family: "Cinzel", serif;
  text-transform: uppercase; }
  .product-detail-content .product-breadcrumb a, .product-detail-content .product-breadcrumb span {
    margin: 0 10px;
    color: #2d3741; }
  .product-detail-content .product-breadcrumb a:hover {
    text-decoration: none; }
@media only screen and (max-width: 320px) {
  .product-detail-content .product-breadcrumb {
    padding: 7px 0;
    font-family: "Cinzel", serif;
    font-size: 8pt;
    text-transform: uppercase; }
    .product-detail-content .product-breadcrumb a, .product-detail-content .product-breadcrumb span {
      margin: 0 5px; } }
.product-detail-content .main-display {
  padding: 3em;
  text-align: center;
  z-index: -1; }
  .product-detail-content .main-display .product-image-wrap {
    height: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
  .product-detail-content .main-display img {
    width: auto;
    max-width: 100%;
    max-height: auto;
    z-index: -1; }
  .product-detail-content .main-display .additional-images {
    width: 100%;
    height: auto; }
    .product-detail-content .main-display .additional-images img {
      width: auto;
      height: 100px; }
.product-detail-content .product-detail-info {
  min-height: 400px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
.product-detail-content .detail-price {
  font-size: 12pt;
  font-family: "Cinzel", serif; }
.product-detail-content .detail-title {
  text-transform: uppercase;
  font-family: "Cinzel", serif;
  font-size: 20pt; }
.product-detail-content .detail-description {
  font-family: "Cinzel", serif; }
.product-detail-content .detail-specs {
  list-style: none;
  indent: none;
  padding: 0; }
  .product-detail-content .detail-specs li {
    width: 100%; }
.product-detail-content .print-link, .product-detail-content .email-link {
  font-size: 16pt;
  margin: 12px; }
.product-detail-content #buyNow {
  margin-top: 1em; }
  .product-detail-content #buyNow button {
    border: 1px solid #2d3741;
    background-color: transparent;
    font-family: "Cinzel", serif; }
  .product-detail-content #buyNow button:focus {
    outline: none; }
.product-detail-content .related-title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Cinzel", serif;
  margin-bottom: 1em; }
  .product-detail-content .related-title h2 {
    font-size: 12pt; }
  .product-detail-content .related-title .bar {
    margin: 0 auto;
    height: 3px;
    width: 40px;
    background-color: #f5f6f8; }
.product-detail-content .related-items {
  height: auto;
  padding: 0 2em;
  margin-bottom: 2em; }
.product-detail-content .related-item {
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .product-detail-content .related-item img {
    max-height: 80%;
    max-width: 80%;
    background-position: center;
    margin: auto 0; }
  .product-detail-content .related-item .related-info {
    width: 100%;
    height: 100px;
    display: block;
    font-size: 8pt;
    text-transform: uppercase;
    overflow-x: visible; }

@media only screen and (min-width: 768px) {
  .related-item {
    height: 300px !important; }
    .related-item img {
      max-height: 100%;
      max-width: 100%;
      background-position: center; } }
.about-content .content-wrapper {
  width: 80%;
  max-width: 750px; }
.about-content h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 1.5em;
  margin-top: 2.5em;
  font-family: "Cinzel", serif; }
.about-content p {
  font-family: "Cinzel", serif;
  margin-bottom: 1em;
  font-size: 10pt;
  line-height: 20px; }
.about-content p:last-child {
  margin-bottom: 6em; }
.about-content #about-image {
  height: auto;
  display: inline-block;
  text-align: center;
  padding: 1em !important; }
  .about-content #about-image img {
    max-width: 100%;
    margin-left: 0 auto; }
  .about-content #about-image p {
    margin: 1.3em 0;
    font-size: 8pt; }

.contact-content {
  padding-bottom: 3em; }
  .contact-content h2 {
    margin: 1em auto; }
  .contact-content h2, .contact-content h3, .contact-content h4, .contact-content h5 {
    width: 100%;
    text-align: center;
    font-family: "Cinzel", serif; }
    @media only screen and (max-width: 320px) {
      .contact-content h2, .contact-content h3, .contact-content h4, .contact-content h5 {
        font-size: 10pt; } }
  .contact-content h3, .contact-content h4 {
    text-align: left; }
  .contact-content .row {
    width: auto;
    margin: 0 auto; }
  .contact-content img, .contact-content .contact-info {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 332px; }
    @media only screen and (max-width: 320px) {
      .contact-content img, .contact-content .contact-info {
        width: 240px; } }
  .contact-content img {
    height: 300px;
    margin: 2em auto; }
    @media only screen and (max-width: 320px) {
      .contact-content img {
        height: 217px; } }
  .contact-content .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 100%; }
    @media only screen and (max-width: 320px) {
      .contact-content .contact-info {
        font-size: 8pt; } }
    .contact-content .contact-info a {
      margin-bottom: 10px; }

.media-wrapper {
  max-width: 1100px;
  padding: 0 2em;
  margin: 0 auto; }
  .media-wrapper .row {
    margin: auto 0; }

.media-row {
  width: 100%;
  text-align: center;
  margin: 0 auto; }

.media-item {
  margin: 0 auto 2em auto; }
  .media-item a {
    width: 200px;
    height: 259px; }
    .media-item a img {
      max-width: 200px;
      max-height: 259px; }

.media-item-info {
  margin: 0 auto;
  margin-top: 1em;
  width: 200px;
  text-align: left; }
  .media-item-info p {
    height: 12px; }
  .media-item-info a {
    color: #576a7d;
    font-family: "Cinzel", serif;
    letter-spacing: 1px;
    font-size: 11pt;
    font-weight: 400;
    font-weight: 400; }

.modal-fullscreen {
  background: transparent;
  margin: 0 auto;
  padding: auto 0 !important; }

.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 100%; }

.modal-backdrop.modal-backdrop-fullscreen {
  background: #000; }

.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .70;
  filter: alpha(opacity=70); }

.modal-fullscreen .modal-dialog {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%; }

.modal-header {
  margin: auto 0;
  padding: 0;
  width: 100%;
  border: none !important; }

@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px; } }
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px; } }
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
    width: 1170px; } }
#mediaCarousel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #mediaCarousel .carousel-inner {
    padding: 0 auto;
    height: 100%;
    width: auto; }
  #mediaCarousel .carousel-inner .item {
    background: white;
    padding: 20px;
    position: relative;
    margin: 0 auto;
    top: 50%;
    height: auto;
    width: auto;
    transform: translateY(-50%); }
    #mediaCarousel .carousel-inner .item img {
      margin-bottom: 10px;
      max-height: 520px;
      max-width: 520px; }
    #mediaCarousel .carousel-inner .item p {
      margin: 0;
      background: white;
      text-align: left;
      font-size: 12pt;
      font-weight: bold; }

.close {
  position: absolute;
  top: 10%;
  right: 0;
  transform: translateY(-50%); }
  .close span {
    color: #576a7d;
    font-family: "Cinzel", serif;
    letter-spacing: 1px;
    font-size: 40pt;
    font-weight: 400;
    color: white !important; }

.terms-content .content-wrapper {
  width: 80%;
  max-width: 750px; }
.terms-content h2, .terms-content h4 {
  width: 100%;
  text-align: center;
  margin-bottom: 1.5em;
  margin-top: 2.5em;
  font-family: "Cinzel", serif; }
.terms-content p {
  font-family: "Cinzel", serif;
  margin-bottom: 1em;
  font-size: 10pt;
  line-height: 20px; }
.terms-content p:last-child {
  margin-bottom: 6em; }

.print-logo {
  text-align: center;
  margin: 20px auto; }
  .print-logo img {
    width: 200px; }

.product-image-print {
  width: 100%;
  max-height: 400px;
  text-align: center;
  margin-bottom: 20px; }
  .product-image-print #print-image {
    max-height: 400px; }

.print-info {
  margin-bottom: 25px;
  padding: 1em;
  width: 40%;
  float: left;
  text-align: center; }

.print-detail-info {
  list-style-type: none;
  padding: 1em;
  width: 40%;
  float: right;
  margin-bottom: 25px; }

.print-address {
  text-align: center;
  clear: both; }

/*# sourceMappingURL=styles.css.map */
