html, body {
  height: 100%; }

.wrapper {
  height: 100%;
  max-width: 1100px;
  margin: 0 auto; }

.content-wrapper {
  max-width: 1100px;
  margin: 0 auto; }

h1, h2, h3, h4, h5 {
  font-family: "Nunito", sans-serif;
  color: black;
  letter-spacing: 1px; }

a, span, li, p {
  font-family: "Nunito", sans-serif;
  color: black;
  letter-spacing: 1px;
  background: none; }

.clearfix {
  display: table;
  content: '';
  clear: both; }

*, *:before, *:after {
  box-sizing: border-box; }

.info-bar {
  width: 100%;
  height: 30px;
  background-color: #615455; }
  .info-bar .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.info-bar-account-link span {
  color: white;
  width: 15px; }

.info-bar-search-wrapper {
  float: right; }

#search-input {
  border: none;
  border-bottom: 1px solid #b1a8aa;
  background: transparent; }

#search-btn {
  border: none;
  background: none;
  color: white;
  height: 30px;
  width: 30px; }

.site-header {
  border-bottom: 1px solid black; }
  .site-header .wrapper {
    height: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .site-header .wrapper img {
      height: 230px;
      margin-right: 0;
      padding-right: 0; }

.mobile-cart {
  display: none;
  height: 40px;
  width: 40px;
  margin-left: 3em;
  background-image: url("../img/cart-ico.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }
  @media (max-width: 806px) {
    .mobile-cart {
      display: block; } }

.navbar {
  margin: 0 !important;
  border: none !important; }
  .navbar .container {
    width: auto;
    margin: 0 !important;
    display: flex;
    justify-content: flex-end; }
    @media (max-width: 992px) {
      .navbar .container {
        width: auto;
        margin: 0 !important;
        position: relative;
        top: 0;
        height: 230px !important;
        display: flex;
        align-items: center; }
        .navbar .container #nav-ul li a {
          color: #1a1a1a;
          font-family: "Nunito", sans-serif;
          letter-spacing: 1px;
          font-size: 10pt;
          font-weight: 300; } }
    @media (max-width: 806px) {
      .navbar .container {
        width: auto;
        margin: 0 !important;
        position: relative;
        top: 0;
        height: 230px !important;
        display: flex;
        align-items: center; }
        .navbar .container .navbar-toggle {
          padding: 0;
          margin: 0;
          margin-right: 3em;
          background: transparent;
          height: 40px;
          width: 40px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          background-image: url("../img/nav-burger.svg");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat; }
        .navbar .container .navbar-collapse.collapse {
          display: none !important; }
        .navbar .container .navbar-nav {
          margin: 0;
          position: absolute;
          right: 0 !important;
          top: 100%;
          background-color: #fff;
          z-index: 9000;
          border-left: 1px solid #605555;
          border-bottom: 1px solid #605555;
          min-width: 400px;
          padding: 30px; }
        .navbar .container .navbar-nav > li {
          float: none;
          height: 10px !important;
          background-color: white; }
        .navbar .container .navbar-nav > li > a {
          padding-top: 10px;
          padding-bottom: 10px; }
        .navbar .container .collapse.in {
          display: block !important; }
        .navbar .container .dropdown-menu1, .navbar .container .dropdown-menu2 {
          display: none;
          width: 100%;
          position: absolute;
          top: 100%;
          right: -5px;
          background-color: white;
          text-align: left;
          z-index: 999; }
          .navbar .container .dropdown-menu1 li, .navbar .container .dropdown-menu2 li {
            margin: 6px 0 6px 0; }
          .navbar .container .dropdown-menu1 a:hover, .navbar .container .dropdown-menu2 a:hover {
            text-decoration: none; }
        .navbar .container .dropdown1:hover .dropdown-menu1 {
          display: inline-block;
          position: absolute;
          border-top: none;
          border-right: none; }
        .navbar .container .dropdown2:hover .dropdown-menu2 {
          display: inline-block;
          border-top: none;
          border-right: none; } }

#nav-ul {
  margin-right: 0;
  padding-right: 0;
  height: 230px; }
  #nav-ul .menu-opt {
    padding: 15px; }
  #nav-ul li {
    text-align: left;
    height: 100%;
    display: flex;
    align-items: center; }
    #nav-ul li a {
      color: #1a1a1a;
      font-family: "Nunito", sans-serif;
      letter-spacing: 1px;
      font-size: 14pt;
      font-weight: 300;
      color: #666666;
      font-size: 13pt;
      padding: 0; }
    #nav-ul li a:hover {
      background: none;
      color: black; }

.dropdown-menu1, .dropdown-menu2 {
  display: none;
  width: 100%;
  position: absolute;
  top: 230px;
  left: 0px;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  margin: 0;
  background-color: white;
  text-align: left;
  z-index: 999; }
  .dropdown-menu1 li, .dropdown-menu2 li {
    margin: 6px 0 6px 0; }
  .dropdown-menu1 a:hover, .dropdown-menu2 a:hover {
    text-decoration: none; }

.dropdown1:hover .dropdown-menu1 {
  display: block;
  padding: 0 0 0 15px;
  border: 1px solid black;
  border-top: none; }

.dropdown2:hover .dropdown-menu2 {
  display: block;
  padding: 0 0 0 15px;
  border: 1px solid black;
  border-top: none; }

.main-content {
  background-image: url("../img/05-home.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
  text-align: center; }

.image-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4); }
  .image-overlay .wrapper {
    padding-top: 16vh;
    display: flex;
    justify-content: center; }
    .image-overlay .wrapper h1 {
      font-family: "Cinzel", serif;
      letter-spacing: 3px;
      margin-bottom: 30px; }
    .image-overlay .wrapper p {
      font-family: "Nunito", sans-serif;
      font-size: 15pt;
      margin-bottom: 30px; }
    .image-overlay .wrapper a {
      background-color: white;
      border-radius: 0;
      height: 60px;
      width: 200px;
      padding: 12px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      .image-overlay .wrapper a span {
        border: 1px solid black;
        height: 40px;
        width: 180px;
        color: #999999;
        display: flex;
        justify-content: center;
        align-items: center; }
      .image-overlay .wrapper a span:hover {
        color: black; }

.instagram-slider {
  width: 100%; }
  .instagram-slider .title {
    margin: 5em 0 2em 0;
    text-align: center;
    font-size: 12pt;
    font-family: "Nunito", sans-serif; }
    .instagram-slider .title p {
      color: #666666; }
  .instagram-slider .deco {
    content: "";
    margin: auto;
    width: 30px;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.2; }
  .instagram-slider .image-row {
    width: 100%;
    height: 80%;
    text-align: center; }
    .instagram-slider .image-row .img-wrapper {
      display: inline-block;
      width: 16.2%;
      height: 16vw;
      overflow: hidden;
      padding: 1px; }

.footer {
  padding-top: 3em;
  margin-top: 3em;
  background-color: #f8f6f8; }
  .footer .footer-support, .footer .footer-about {
    text-align: left;
    width: 48%;
    display: inline-block; }
  .footer .footer-support {
    float: left;
    margin-right: 2%; }
  .footer p:first-of-type {
    padding-bottom: 6px;
    border-bottom: 1px solid black; }
  .footer ul {
    list-style: none;
    padding: 0; }
    .footer ul li {
      margin-top: 12px; }
      .footer ul li a {
        color: #1a1a1a;
        font-family: "Nunito", sans-serif;
        letter-spacing: 1px;
        font-size: 9pt;
        font-weight: 300; }
  .footer a {
    color: #1a1a1a;
    font-family: "Nunito", sans-serif;
    letter-spacing: 1px;
    font-size: 12pt;
    font-weight: 300; }
  .footer .copyright {
    width: 100%;
    margin-top: 10em;
    text-align: center;
    font-size: 9pt; }
  .footer .insta-icon {
    height: 35px;
    width: 35px;
    margin: 1em auto 6em;
    background-image: url("../img/IG-icon.png");
    background-position: center;
    background-size: cover; }

.products-header .content-wrapper {
  border-bottom: 1px solid black;
  padding-top: 2em;
  padding-bottom: .2em; }
.products-header h2 {
  font-family: "Cinzel", serif;
  font-size: 26pt;
  width: 100%;
  text-align: center;
  margin-bottom: 2em; }
.products-header .sort {
  width: 100%;
  text-align: right; }
  .products-header .sort label {
    font-family: "Nunito", sans-serif;
    font-size: 8pt; }

#sortBy {
  font-size: 9pt;
  border: 1px solid black;
  border-radius: 0;
  -webkit-appearance: none;
  background-size: 10px;
  background-image: url("../img/sort-icon.svg");
  background-position: right 10px center;
  background-color: transparent;
  background-repeat: no-repeat;
  padding: 5px;
  margin-bottom: .5em;
  height: 30px;
  width: 140px; }

#sortBy:focus {
  outline: 0; }

@media screen and (max-width: 768px) {
  .products .content-wrapper {
    width: 80vw; } }

.sort-menu {
  margin-top: 2em;
  padding: 15px; }
  .sort-menu h4 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12pt;
    font-family: "Cinzel", serif;
    padding-bottom: 10px;
    border-bottom: 1px solid #666666; }

.collection-info {
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px; }
  .collection-info a {
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    font-size: 8pt;
    display: inline-block;
    text-decoration: none;
    color: black; }
  .collection-info a:hover {
    text-decoration: none; }
  .collection-info .checkbox {
    height: 15px;
    width: 15px;
    background-image: url("../img/checkbox.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin: auto 6px auto 6px;
    vertical-align: text-top;
    color: black; }
  .collection-info span {
    font-size: 10pt; }

.product-card {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px; }
  .product-card img {
    max-width: 100%;
    background-position: center;
    margin-bottom: 10px; }
  .product-card .product-info {
    text-transform: uppercase; }

.product-card:hover {
  text-decoration: none; }

.product-pagination {
  border-top: 1px solid black;
  margin-top: 3em;
  margin-bottom: 6em;
  padding-top: 2em;
  text-align: center; }

.pagination-buttons button {
  border: 1px solid black;
  background-color: transparent; }
.pagination-buttons button:first-child, .pagination-buttons button:last-child {
  width: 50px; }

.product-row {
  height: auto; }

.product-detail-content .product-breadcrumb {
  padding: 15px 0;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase; }
  .product-detail-content .product-breadcrumb a, .product-detail-content .product-breadcrumb span {
    margin: 0 10px;
    color: black; }
  .product-detail-content .product-breadcrumb a:hover {
    text-decoration: none; }
.product-detail-content .main-display {
  padding-top: 3em; }
  .product-detail-content .main-display img {
    width: 100%;
    max-height: 600px; }
.product-detail-content .product-detail-info {
  height: 400px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
.product-detail-content .detail-price {
  font-size: 12pt;
  font-family: "Nunito", sans-serif; }
.product-detail-content .detail-title {
  text-transform: uppercase;
  font-family: "Cinzel", serif;
  font-size: 20pt; }
.product-detail-content .detail-description {
  font-family: "Nunito", sans-serif; }
.product-detail-content .detail-specs {
  list-style: none;
  indent: none;
  padding: 0; }
  .product-detail-content .detail-specs li {
    width: 100%; }
.product-detail-content .print-link, .product-detail-content .email-link {
  font-size: 16pt;
  margin: 12px; }
.product-detail-content .detail-nav {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .product-detail-content .detail-nav button {
    border: 1px solid black;
    background-color: transparent; }
  .product-detail-content .detail-nav button:focus {
    outline: none; }
.product-detail-content .related-title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  margin-bottom: 1em; }
  .product-detail-content .related-title h2 {
    font-size: 12pt; }
  .product-detail-content .related-title .bar {
    margin: 0 auto;
    height: 3px;
    width: 40px;
    background-color: #bfbfbf; }
.product-detail-content .related-items {
  height: 300px;
  margin-bottom: 3em; }
.product-detail-content .related-item {
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px; }
  .product-detail-content .related-item img {
    max-width: 100%;
    background-position: center;
    margin-bottom: 10px; }
  .product-detail-content .related-item .product-info {
    text-transform: uppercase; }

.about-content .wrapper {
  width: 60%;
  max-width: 750px; }
.about-content h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 2em;
  font-family: "Cinzel", serif; }
.about-content p {
  font-family: "Nunito", sans-serif;
  margin-bottom: 1em;
  font-size: 10pt;
  line-height: 20px; }
.about-content p:last-child {
  margin-bottom: 6em; }

.contact-content {
  padding-bottom: 3em; }
  .contact-content .content-wrapper {
    width: 60%;
    max-width: 750px; }
  .contact-content h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 2.5em;
    font-family: "Cinzel", serif; }
  .contact-content p {
    font-family: "Nunito", sans-serif;
    font-size: 10pt;
    line-height: 20px;
    margin-bottom: 1em; }
  .contact-content .contact-input, .contact-content .contact-message {
    color: #bfbfbf;
    font-family: "Nunito", sans-serif;
    font-size: 10pt;
    width: 100%;
    margin-bottom: 1em;
    padding: 8px;
    border: 1px solid #666666; }
  .contact-content .contact-message {
    height: 200px;
    text-indent: 0;
    -webkit-rtl-ordering: logical;
    user-select: text;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    word-wrap: break-word; }
  .contact-content .contact-send {
    -webkit-appearance: none;
    height: auto;
    width: auto;
    float: right;
    border-radius: 2px;
    border: none;
    background-color: #293944;
    color: #fff;
    display: inline-block;
    padding: 8px 10px;
    margin: 0;
    line-height: 1.42;
    font-weight: 300;
    font-size: 10pt;
    letter-spacing: 2px;
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    vertical-align: middle; }

/*# sourceMappingURL=styles.css.map */
