//sass variables
//Fonts

$main-font-face: 'Nunito', sans-serif;
$hero-font-face: 'Cinzel', serif;
$dark-font-color: black;
$medium-font-color: lighten($dark-font-color, 10%);
$light-font-color: lighten($dark-font-color, 40%);
$letter-spacing: 1px;

//Colors
$info-bar-bg: #615455;
$info-bar-search: #b1a8aa;

$overlay-color: rgba(256,256,256,0.4);

$white-color: white;

//Margins + Padding
$content-padding: 0 60px;

//Media Breaks

//deafults***********
html,body {
  height:100%;
}
.wrapper{
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
h1,h2,h3,h4,h5{
  font-family: $main-font-face;
  color: $dark-font-color;
  letter-spacing: $letter-spacing;
}
a, span, li, p {
  font-family: $main-font-face;
  color: $dark-font-color;
  letter-spacing: $letter-spacing;
  background: none;
}
//clearfix
.clearfix{
  display: table;
  content: '';
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
}
