.about-content{
  .content-wrapper{
    width: 80%;
    max-width: 750px;
  }
  h2{
    width: 100%;
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 2.5em;
    font-family: $hero-font-face;
  }
  p{
    font-family: $main-font-face;
    margin-bottom: 1em;
    font-size: 10pt;
    line-height: 20px;
  }
  p:last-child{
    margin-bottom: 6em;
  }

  #about-image{
    height: auto;
    display: inline-block;
    text-align: center;
    padding: 1em !important;
    img{
      max-width: 100%;
      margin-left: 0 auto;
    }
    p{
      margin: 1.3em 0;
      font-size: 8pt;
    }
  }
}
