.contact-content{
  padding-bottom: 3em;
  h2{
    margin: 1em auto;
  }
  h2,h3,h4,h5{
    width: 100%;
    text-align: center;
    font-family: $main-font-face;
  }
  h3,h4{
    text-align: left;
  }
  .row{
    width: auto;
    margin: 0 auto;
  }
  img, .contact-info{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 332px;
  }
  img{
    height: 300px;
    margin: 2em auto;
  }
  .contact-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    a{
      margin-bottom: 10px;
    }

  }

}
