
.info-bar {
  width: 100%;
  height: 30px;
  background-color: $info-bar-bg;
  position: relative;
  .wrapper{
    max-width: 95% !important;
    @media (max-width: $med-break), screen only and (max-device-width: 450px){
      padding: 0 2em;
    }
  }
  #search-input{
    display: none;
    border: none;
    border-bottom: 1px solid $info-bar-search;
    background: transparent;
  }
  #search-btn {
    border: none;
    float: right;
    background-image: url('../img/new-search-icon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 4px 10px;
    padding: 0;
    height: 20px;
    width: 20px;
  }
  .insta-icon{
    height: 20px;
    width: 20px;
    float: right;
    display: inline-block;
    background-image: url('../img/IG-icon-light.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 4px 10px;
    padding: 0;

  }
}
.info-bar-search-wrapper{
  position: absolute;
  right:0;
  margin-right: $small-padding;
}

// Default Navigation Properties for smallest views***************************
#main-nav{
  border: none;
  border-bottom: 1px solid lighten($dark-font-color,30%);
  border-radius: 0px;
  margin: 0 auto;
  padding: 0;
  height: 130px;
}
.container-fluid{
  height: auto !important;
  margin: 0 auto;
  padding: 0 !important;
}
#nav-header{
  margin: 0 auto;
  padding: 0;
  height: 129px;
  width: 100% ;
}
.mobile-cart{
  display: none;
  margin: auto 0;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2em;
  background-image: url('../img/cart-ico.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#logo-box{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1.5em;
  margin: auto;
  padding-right: 0;
  height: 83px;
  width: 200px;
  text-align: center;
  img {
    height: 83px;
    width: 200px;
    z-index: -1;
  }
}
#nav-tog {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.5em;
  padding: 0 !important;
  height: 30px;
  width: 30px;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: none;
  background: transparent;
  background-image: url('../img/nav-burger.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  @media only screen and (max-width: $tiny-break){
    top: auto;
    bottom: 20px;
    margin: 0 0;
  }
}
#myNavbar{
  margin: 0;
  position: relative;
  z-index: 999;
  background-color: white;
  border-bottom: 1px solid $dark-font-color;
}
.menu-opt{
  width: 100%;
  a{
    width: 50%;
    margin: 0;

  }
}
.sub-menu{
  height: 25px;
  width: 25px;
  border: none !important;
  background: white !important;
  position: absolute;
  top: 12.5px;
  left: 40%;
  @media only screen and (max-width: $tiny-break){
    left: 60%;
  }
}
.sub-menu:focus{
  outline: none;
}
.sub-collapse1, .sub-collapse2{
  height: auto;
  width: 250px !important;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  list-style-position: outside;
  background-color: $white-color;
  text-align: left;
  box-sizing: border-box;
  padding: 0 !important;
}
.sub-opt{
  left: 0;
  padding-left: 15px !important;
  margin: 10px 0;
  height: 30px;
}
.sub-opt>a:hover{
  // text-decoration: none;
}
.navbar-nav .active{
  color: $dark-font-color !important;
}
.navbar-nav>li>a{
  color: lighten($dark-font-color, 10%) !important;
  padding: 15px !important;
}
.navbar-nav>li>a:hover{
  color: $dark-font-color !important;
  background: transparent !important;
}
.sub-opt>a{
  color: $dark-font-color !important;
}
.sub-opt>a:hover{
  color: $dark-font-color !important;
}
.navbar-nav>li>a{
  @include link(14pt);
  @media only screen and (max-width: $tiny-break){
    font-size: 10pt;
  }
}

//Above First Break****************************************************
@media only screen and (min-width: $small-break){
  #main-nav{
    height: 170px;
  }
  #nav-header{
    height: 169px;
  }
  #nav-tog{
    display: none;
  }
  .mobile-cart{
    display: none;
  }
  #logo-box{
    top: -10;
    right: 0;
    left: 0;
    img{
      height: 104px;
      width: 250px;
    }
  }
  #myNavbar{
    height: auto !important;
    width: 100% !important;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex !important;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    background-color: white;
    border: none;
  }
  .sub-collapse1, .sub-collapse2{
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    left:0;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    margin: 0;
    background-color: white;
    text-align: left;
    z-index: 999;
    box-sizing: border-box;
    border-left: 1px solid $dark-font-color;
    border-bottom: 1px solid $dark-font-color;
    border-right: 1px solid $dark-font-color;
    border-top: none;
  }
  .dropdownhov1:hover .sub-collapse1{
    display: block;
  }
  .dropdownhov2:hover .sub-collapse2{
    display: block;
  }
  .dropdownhov1:hover{
    background-color: transparent;
  }
  .menu-opt{
    width: auto;
    height: auto;
  }
  .menu-opt>a{
    width: auto;
    height: auto;
  }
  .sub-menu{
    display: none;
  }
  .sub-opt{
    padding-left: 0px;
    height: auto;
  }
}
// Above Second Break ************************************
@media screen and (min-width: $med-break){
  #wrap{
    height: auto;
    max-width: 1100px;
  }
  #main-nav{
    height: 130px;
  }
  #nav-header{
    height: 129px;
  }
  #logo-box{
    right: auto;
    left: $small-padding;
    margin: auto;
    img{
      height: 104px;
      width: 250px;
    }
  }
  #myNavbar{
    height: 100% !important;
    width: auto !important;
    right: 0;
    margin: auto;
    align-items: center;
    justify-content: flex-end;
  }
  .navbar-nav{
    height: 100% !important;
  }
  .navbar-nav li{
    height: 100% !important;

  }
  .menu-opt{
    display: flex !important;
    align-items: center;
  }
}
// Largest Break******************************************
@media screen and (min-width: $large-break){
  #myNavbar{
    li>a{
      @include link(17pt);
      font-weight: 400;
    }
  }
  #logo-box{
    right: auto;
    left: $large-padding;
    // img{
    //   height: 125px;
    //   width: 300px;
    // }
  }
  #myNavbar{
    left: auto;
    right: $large-padding;
  }
}
.header-fixed.smaller{
  height: 100px;
}
#logo-box.smaller{
  height: 50px;
  width: 125px;
  top: 0;
  margin: 0;
  overflow: hidden;
}
#myNavbar.smaller{
  height: 100px !important;
  top: 0;
  margin:0;
}
#nav-header.smaller{
  height: 100px !important;
  top: 0;
  margin:0;
}
