//HERO IMAGE AND CTA ******************
.main-content {
  height: auto;
  text-align: center;
}
#homeCarousel{
  position: relative;
  .homeSlide{
    background-position: center;
    background-position-x: 50%;
    background-position-y: 50%;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
  }
  .carousel-control{
    text-shadow: none;
  }
  .carousel-control.left, .carousel-control.right {
    background-image: none;
    span{
      position: absolute;
      top: 50%;
      left: 50%;
      transform:translate(-50%,-25%);
    }
  }
  .carousel-control:hover{
    text-shadow: none;
  }
  .content-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    min-width: 60%;
    max-width: 80%;
    color: #FFF;
    margin: 0 auto;
    font-family: $main-font-face;
    font-size: 19pt;
    font-weight: 400 !important;
    padding: 0 1em;
    p{
      color: white !important;
      font-weight: 400;
      margin: 0 !important;
    }
  }
}
