.product-detail-content {
  .product-breadcrumb {
    padding: 15px 0;
    font-family: $main-font-face;
    text-transform: uppercase;
    a, span{
      margin: 0 10px;
      color: $dark-font-color;
    }
    a:hover {
      text-decoration: none;
    }
  }
  @media only screen and (max-width: $tiny-break){
    .product-breadcrumb {
      padding: 7px 0;
      font-family: $main-font-face;
      font-size: 8pt;
      text-transform: uppercase;
      a, span{
        margin: 0 5px;
      }
    }
  }
  .main-display {
    padding: 3em;
    text-align: center;
    z-index: -1;
    .product-image-wrap{
      height: auto;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
    img{
      width: auto;
      max-width: 100%;
      max-height: auto;
      z-index: -1;
    }
    .additional-images{
      width: 100%;
      height: auto;
      img{
        width: auto;
        height: 100px;
      }
    }
  }
  .product-detail-info{
    min-height: 400px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .detail-price{
    font-size: 12pt;
    font-family: $main-font-face;
  }
  .detail-title {
    text-transform: uppercase;
    font-family: $hero-font-face;
    font-size: 20pt;
  }
  .detail-description{
    font-family: $main-font-face;
  }
  .detail-specs{
    list-style: none;
    indent: none;
    padding: 0;
    li{
      width: 100%;
    }
  }
  .print-link, .email-link{
    font-size: 16pt;
    margin: 12px;
  }
  #buyNow{
    margin-top: 1em;
    button{
      border: 1px solid $dark-font-color;
      background-color: transparent;
      font-family: $main-font-face;
    }
    button:focus{
      outline: none;
    }
  }
  .detail-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
      border: 1px solid $dark-font-color;
      background-color: transparent;
    }
    button:focus{
      outline: none;
    }
  }
  .related-title{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: $main-font-face;
    margin-bottom: 1em;
    h2{
      font-size: 12pt;
    }
    .bar{
      margin: 0 auto;
      height: 3px;
      width: 40px;
      background-color: lighten($light-font-color, 35%);
    }
  }
  .related-items{
    height: auto;
    padding: 0 2em;
    margin-bottom: 2em;
  }
  .related-item{
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
    img{
      max-height: 80%;
      max-width: 80%;
      background-position: center;
      margin: auto 0;
    }
    .related-info{
      width: 100%;
      height: 100px ;
      display: block;
      font-size: 8pt;
      text-transform: uppercase;
      overflow-x:visible;
    }
  }
}
@media only screen and (min-width:$small-break){
  .related-item{
    height: 300px !important;
    img{
      max-height: 100%;
      max-width: 100%;
      background-position: center;
    }

  }
}
