.products-header{
  .content-wrapper{
    border-bottom: 1px solid $dark-font-color;
    padding-top: 2em;
    padding-bottom: .2em;
  }
  h2{
    font-family: $hero-font-face;
    font-size: 26pt;
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
  }
  .row{
    width: 100%;
    margin: 0 !important;
  }

  .sort{
    text-align: right;
    width: 240px;
    label{
      font-family: $main-font-face;
      font-size: 8pt;
    }
  }
}
#sortBy, #sortLoc, #search-input{
  width: 170px;
  font-size: 9pt;
  border: 1px solid $dark-font-color;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-size: 10px;
  background-image: url('../img/sort-icon.svg');
  background-position: right 10px center;
  background-color: transparent;
  background-repeat: no-repeat;
  padding: 5px;
  margin-bottom: .5em;
  height: 30px;
}

#sortBy:focus{
  outline: 0;
}
.search{
  height: 61px;
  margin-bottom: .5em;
  padding: 5px;
  font-family: $main-font-face;
  position: relative;
  text-align: right;
  #search-input{
    background-image: none;
    position: absolute;
    bottom: 0px;
    right: 0;
  }
  #search-btn {
    border: none;
    float: right;
    background-image: url('../img/search-icon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    margin: 4px 10px;
    padding: 0 8px;
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 8px;
    right: -4px;
  }
}
