
.sort-menu {
  margin-top: 2em;
  padding: 15px;
  z-index: -1;
  h4{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12pt;
    font-family: $hero-font-face;
    padding-bottom: 10px;
    border-bottom: 1px solid $light-font-color;
  }
}
//Location chooser
.collection-info{
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  a {
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    font-size: 8pt;
    display: inline-block;
    text-decoration: none;
    color: $dark-font-color;
  }
  a:hover{
    text-decoration: none;
  }
  .checkbox{
    height: 15px;
    width: 15px;
    background-image: url('../img/checkbox.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin: auto 6px auto 6px;
    vertical-align: text-top;
    color: black;
  }
  span{
    font-size: 10pt;
  }

}

.product-row {
  height: auto;
}
.product-card{
  text-align: center;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  img{
    max-width: 100%;
    background-position: center;
    margin-bottom: 10px;
    margin: auto 0;
  }
  .product-info{
    align-self: center;
    text-transform: uppercase;
  }
}
.product-card:hover{
  text-decoration: none;
}
.product-pagination{
  border-top: 1px solid $dark-font-color;
  margin-top: 3em;
  margin-bottom: 6em;
  padding-top: 2em;
  text-align: center;
}
.pagination-buttons{
  button{
    border: 1px solid $dark-font-color;
    background-color: transparent;
    height: 25px;
    width: 25px;
    text-align: center;
    padding: 2px 0px;
  }
  button:first-child, button:last-child{
    width: 30px;
  }
}
@media only screen and (min-width: $small-break){
  .product-row {
    height: 340px;
  }
  .pagination-buttons{
    button{
      border: 1px solid $dark-font-color;
      background-color: transparent;
      height: 40px;
      width: 40px;
    }
    button:first-child, button:last-child{
      width: 50px;
    }
  }
}
