
.sort-menu {
  margin-top: 2em;
  padding: 15px;
  z-index: -1;
  h4{
    width: 100%;
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 2.5em;
    font-family: $hero-font-face;
    border-bottom: 1px solid $light-font-color;
  }
}
//Location chooser
.collection-info{
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  a {
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    font-size: 8pt;
    display: inline-block;
    text-decoration: none;
    color: $dark-font-color;
  }
  a:hover{
    text-decoration: none;
  }
  .checkbox{
    height: 15px;
    width: 15px;
    background-image: url('../img/checkbox.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin: auto 6px auto 6px;
    vertical-align: text-top;
    color: black;
  }
  span{
    font-size: 10pt;
  }
}
.product-row {
  height: auto;
  min-height: 400px;
  min-width: 90vw;
}
.product-card{
  text-align: center;
  height: auto;
  min-height: 400px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em !important;
  padding-top: 25px !important;
  max-width: 100%;
  img{
    width: 100%;
    flex-shrink: 0;
    background-position: center;
    margin-bottom: 10px;
    margin: auto 0;
  }
}
.product-info{
  opacity:0;
  filter: alpha(opacity=0);
  height: 100%;
  width: 100%;
  position: absolute;
  top: auto;
  right: 0;
  bottom: auto;
  left: 0;
  text-transform: uppercase;
  background-color: white;
}
.product-card:hover{
  text-decoration: none;
}
.product-pagination{
  border-top: 1px solid $dark-font-color;
  margin-top: 3em;
  margin-bottom: 6em;
  padding-top: 2em;
  text-align: center;
}
.pagination-buttons{
  button{
    border: 1px solid $dark-font-color;
    background-color: transparent;
    height: 25px;
    width: 25px;
    text-align: center;
    padding: 2px 0px;
  }
  button:first-child, button:last-child{
    width: 30px;
  }
}
@media only screen and (min-width: $small-break){
  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  @keyframes fadeout {
      from { opacity: 1; }
      to   { opacity: 0; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
      from {
         opacity: 0;
       }
     }

  .product-card:hover .product-info{
    -webkit-animation: fadein .5s ease; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .5s linear; /* Firefox < 16 */
    -ms-animation: fadein .5s linear; /* Internet Explorer */
    -o-animation: fadein .5s linear; /* Opera < 12.1 */
    animation: fadein .5s linear;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $dark-font-color;
    border-bottom: 1px solid $dark-font-color;
  }
  .pagination-buttons{
    button{
      border: 1px solid $dark-font-color;
      background-color: transparent;
      height: 40px;
      width: 40px;
    }
    button:first-child, button:last-child{
      width: 50px;
    }
  }
}
