
.menu-block { width: 862px; height: 38px; margin-top: 17px; background: #9A9B9C; }
	ul.menus { margin: 0px; padding: 0px; height: 38px; list-style: none;}
		ul.menus li { margin: 0px; padding: 0px; display: inline; }
		ul.menus li a {
			float: left;height: 28px;
			text-indent: 0px;
			color: #e9e7e7;
			font-size: 15.5px;
			font-family: Helvetica, sans-serif;
			max-width: 90px;
			padding-top: 10px;
			overflow:hidden;
			text-overflow:ellipsis;}
		.menu a {
			text-align: center;
			margin-right: 22px;
			margin-left: 22px;
			vertical-align: middle;}
			.menu a:hover,.menu a.selected {color:#a00;}
		.menu6 a {
			text-align: center;
			margin-right: 22px;
			margin-left: 22px;}
			.menu6 a:hover, .menu a.selected {color:#a00}
		.menu7 a {
			text-align: center;
			margin-right: 22px;
			margin-left: 22px;}
			.menu7 a:hover, .menu7 a.selected {color:#a00}
		.locations { float: left; height: 38px; position: relative; z-index: 30; }
			.pulldown { position: absolute; display: none; top: 38px; left: 0px; width: 180px;
				background: #9A9B9C; text-indent: 0px; z-index: 20; }
			.locations:hover .pulldown { display: block; }

			ul.submenus { margin: 0px; padding: 0px; list-style: none; }
				ul.submenus li {
					margin: 0px;
					padding: 0px;
					display: inline;
				}
				ul.submenus li a { height: 30px; text-indent: 10px;max-width: 180px;border-top:1px solid  #e9e7e7;;}
				.submenu a {
					width: 180px;
					margin-right: 10px;
					margin-left: 0px;
					text-align: left;
				}
					.submenu a:hover {
						width: 180px;
						margin-right: 10px;
						margin-left: 0px;
						text-align: left;
					}
				.submenu1 a {
					width: 180px;
					margin-right: 0px;
					margin-left: 0px;
					text-align: left;}
					.submenu1 a:hover {
						width: 180px;
						margin-right: 0px;
						margin-left: 0px;
						text-align: left;}
				.submenu2 a {
					width: 180px;
					margin-right: 0px;
					margin-left: 0px;
					text-align: left;}
					.submenu2 a:hover {
						width: 180px;
						margin-right: 0px;
						margin-left: 0px;
						text-align: left;}

/* override for the floating menu */

.header { overflow: visible; }
.menu-block .menus .search {
	float: right;
	width: 38px;
	height: 38px;
	margin-right: 12px;
	display: block;
	background: url('../img/search.png');
	background-position: center center;
	background-repeat: no-repeat;
}
.menu-block .menus .search .searchform {
	height: 28px;
	width: 230px;
	position: relative;
	right: 190px;
	top: -36px;
	background: #9a9b9c;
	padding: 5px;
}
.menu-block .menus .search .searchform.disabled {
	display: none;
}
.menu-block .menus .search .searchform.enabled {
	display: block;
}
.menu-block .menus .search .searchform input {
	height: 22px;
	padding-left: 5px;
	padding-right: 5px;
	width: 160px;
	margin-right: 5px;
}
.menu-block .menus .search .searchform label {
	font-family: Helvetica;
	font-size: 15px;
	color: #e9e7e7;
}
